

nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: 'Bungee';
}

#subPageTitle {
  font-family: 'Source Sans Pro', sans-serif;
}